<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>Handwriting Digit Prediction</title>
    <style type="text/css">
         .jumbotron{
  height:500px;
  align-items:center;
  background:url("https://s4.51cto.com/oss/201903/25/0974c822dd7524cdcca7cc4f209269cc.jpg-wh_651x-s_671627396.jpg") ;
  background-size:600px 500px;
  background-repeat: no-repeat;
  color: white;
  margin-top:20px;
} 
    </style>
 
  </head>
 <body>
  <div class="jumbotron "style="background-color:#010101">
    
    <h1 align="right" > Handwriting Digit &nbsp; <br /> Prediction  &nbsp;&nbsp; </h1>
    <p align="right"> Congratulations! Picture uploaded!&emsp;</p>
    <div class="container">
   <div class="row">
       <div class="col-sm-12">
       	   <p  align="right"style="font-size:50px;"> The predict number is </p>
           <p  align="right"style="font-size:50px; color:yellow;"> {{ random_number }} </p>
           
       </div>
    </div>
</div>
  </div>
 </body>
</html>